body{
	margin: 0;
	padding: 28px 0px;
	background-color: #7d05c0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-image: url("https://tweedekamer2017.stemwijzer.nl/public/gfx/background.jpg");
}
#logoStemwijzer{
	max-width: 331px;
	max-height: 56px;
}
#statement_title{
	font-size: 33px;
	margin-bottom: 1em;
	color: #01B4DC;
	font-family: 'Arial';
	font-weight: bold;
}
#statement_description{
	font-size: 33px;
	min-height: 155px;
	font-family: 'Arial';
	margin-bottom: 1em;
}
main{
	background-color: white;
	max-width: 80%;
	margin:0 auto;
	padding: 70px 7.5%;
}
#backbutton{
	width: 50px !important;
	height: 50px !important;
	min-width: 50px !important;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(https://tweedekamer2017.stemwijzer.nl/public/gfx/icon-arrow-back.svg);
	background-color: #E7EAEB;
	border-radius: 50px !important;
	transition: transform .2s;
	display: inline-block;
	padding: .65em .5em;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	left: 200px;
	top: 50px;
}
button{
	margin-right: 1.33%;
	width: auto;
	min-width: 188px;
	font-size: 24px;
	line-height: 24px;
	float: left;
	vertical-align: middle;
	background-color: black;
	color: white;
	transition: background-color .2s ease;
	padding: .65em .5em;
	border-radius: 10px;
	font-weight: bold;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
	align-items: flex-start;
	text-align: center;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	margin: 0em;
	font: 400 13.3333px Arial;
	cursor: pointer;
}
.buttontoggle{
	display: inline-block !important;
}